In [ ]:
 print("Hello world")

Hello world

Variables

In [ ]:
Sentence = 'This is our python programming class'
age = 76
population = 3382291
pci = 67.80

presentStatus = True
api_data = None

numbers = [10 , 20 ,30 , "apple" , "Kathmandu" , "tokyo" , 3.14 , 2.63 ,33.33,]

student = {
    "Name" : "Manbika",
    "age" : "19",
    "address" : "Gokarna",
    "score" : {
        "maths" : 89 ,
        "english" : 76 ,
        "science" : 70 ,
    }

}

In [ ]:
name = input ("Enter your name : ")
print("your name is ", name  )

age = input ("Enter your age :")
print("your age is ", age)

Enter your name : Manbika
your name is  Manbika
Enter your age :19
your age is  19

'python programming '

input and Output function

In [ ]:
Sentences='we are studying in lab-16'
Age=18
Height=5.8

In [ ]:
# float ("10.10")


# int(1000.99999999)

# a = 100
# str(10000.1098394)+str(a)

# float([10 , 20])
str([10, "10010"])

"[10, '10010']"

In [ ]:
10 + 20.0
10 - 20.0
10 * 10258.0

100/21

178** (-1/2)

# x = 10
# y = 17
# z = 12.1

# x * (x + y - z)

0.07495316889958614

In [ ]:
from os import X_OK
 x = 18
 y = 18.8

x == 10

IndentationError: unexpected indent (ipython-input-3505700314.py, line 2)

In [ ]:
 score = 70

 score > 70 and score < 90

 score > 80 or score < 100

 not (score > 80)

True

In [ ]:
 # sentence = " This is a python classroom "

 # "this" not in sentence

 animals = ["tiger" , "lion" , " elephant" , "deer" ]

 'deer' in animals

True

In [ ]:
 my_data = None

  # mydata is None

In [ ]:
 # isinstance(60.0, float)

String formatting

In [ ]:
 name = input("Enter your name: ")
 age = input("Enter your age: ")

Enter your name: manbika
Enter your age: 19

Type validation

In [ ]:
age = input("Enter your age: ")
#age = int(age)
print("your age is: ", age)

Enter your age: 19
your age is:  19

If conditional

In [ ]:
animal = input("Enter an animal: ")

if animal == 'dragon':
  print("Dragon: roar ")

elif animal == 'duck':
  print("Duck: quack quack")

else:
  print("Animal not found")

Enter an animal: cat
Animal not found

While loop

In [ ]:
n =17

i = 1
while i <= 10:
  product = n * i
  print(f"{n} * {i} = {product}")
  i = i + 1

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170

In [ ]:
# While True:
animal = input("Enter an animal: ")

if animal == "dragon":
  print("you typed correct animal")


else:
  print("Wrong animal")

Enter an animal: cat
Wrong animal

In [ ]:
# 90-100 Grade: A +
# 80-90: A
# 70-80: B
# 60-70: C
# 50-60: D
# <50: F

score = 50
if score >= 90 and score <= 100:
  print("Grade:A")

In [ ]:
sentence = "This is an apple tree"

count = 0
for ch in sentence:
  #if ch == 'a' or  ch == 'e' or ch=='i'or ch=='o'or ch=='u' :
  if ch in 'aeiou':
   count += 1

print(count)

7

In [ ]:
for i in range(19,2,-2 ):
  print(i)

19
17
15
13
11
9
7
5
3

In [ ]:
animals = [ "pig", "chicken", "tiger", "lion", "giraffe", "rat", "cheetah", "rabbit", "tortoise", "hyena"]
carnivorous_animals = ["tiger", "lion", "cheetah", "hyena"]

for animal in animals:
  if animal in carnivorous_animals:
    continue
  print(animal)

giraffe
rat
rabbit
tortoise

For loop

In [ ]:
a = 100
b = 200

n  = 10
for i in range (a, b+1):
  if i % n == 0:
    print(f"{i} is divisible by {n}")
    break
else:
    print("No number divisible by {} found".format(n))

100 is divisible by 10

In [ ]:
for i in range(1, 5):
  for j in range(1, 11):
    product = i * j
    print(f"{i} *{j} = {product}")
  print("-----------")

1 *1 = 1
1 *2 = 2
1 *3 = 3
1 *4 = 4
1 *5 = 5
1 *6 = 6
1 *7 = 7
1 *8 = 8
1 *9 = 9
1 *10 = 10
-----------
2 *1 = 2
2 *2 = 4
2 *3 = 6
2 *4 = 8
2 *5 = 10
2 *6 = 12
2 *7 = 14
2 *8 = 16
2 *9 = 18
2 *10 = 20
-----------
3 *1 = 3
3 *2 = 6
3 *3 = 9
3 *4 = 12
3 *5 = 15
3 *6 = 18
3 *7 = 21
3 *8 = 24
3 *9 = 27
3 *10 = 30
-----------
4 *1 = 4
4 *2 = 8
4 *3 = 12
4 *4 = 16
4 *5 = 20
4 *6 = 24
4 *7 = 28
4 *8 = 32
4 *9 = 36
4 *10 = 40
-----------

In [ ]:
# 1 2 3     0 1 0     1 3 3
# 4 5 6     1 0 1     5 5 7
# 7 8 9     -1 0 1    6 8 10

m1 = [[1, 2, 3], [4, 5, 6,], [7, 8, 9]]
m2 = [[0, 1, 0],[1, 0, 1], [-1, 0, 1]]
m3 = []

for i in range(len(m1)):
  m4 = []
  for j in range(len(m1[i])):
    m4.append(m1[i][j] +m2[i][j])
  m3.append(m4)

m3

[[1, 3, 3], [5, 5, 7], [6, 8, 10]]

Classwork question 1

In [ ]:
# Input
Sentence = input("Enter a Sentence: ")
character = input("Enter a character: ")


count = 0
for ch in Sentence:
  if ch == character:
   count += 1

print (f"{character} appears {count} times")

Enter a Sentence: Apple is a fruit
Enter a character: p
p appears 2 times

Question:2

In [ ]:
# input
#i have to take 5 input from user
#  can do that using for loop

largest = 0
for i in range(5):
  num = int(input("Enter a number: "))
  if num > largest:
      largest = num

print(f"largest number is {largest}")

Enter a number: 2
Enter a number: 4
Enter a number: 6
Enter a number: 8
Enter a number: 9
largest number is 9

*Question* 3

In [ ]:
length = float(input("Enter the length: "))
breadth = float(input("Enter the breadth: "))

area = length* breadth
perimeter =2 * (length * breadth )

print("Area:{}\nPerimeter is {}".format(area , perimeter))

Enter the length: 2
Enter the breadth: 3
Area:6.0
Perimeter is 12.0

Ouestion: 4

In [ ]:
my_list = [10, 42, 35,-34 ,56,-40]
for i in my_list:
  fahrenheit = i + 1.8 + 32
  print(f"my_list:{} \tfahrenheit {}: (my_list , fahrenheit): ")

In [ ]:
# input
# I have to take name , age , height , and salary and atudent status(yes/no)
name = input("Enter the name: ")
age = int(input("Enter your age :"))
height = float(input("Enter the height: "))
salary = float(input("Enter the salary: "))
student_status = input("Are you a student? ")

# processing
age = int(age)
height = float(height)
salary = float(salary)

#output
sentence = f"Hi, {name}.\n you are {age} years old. \nyour height is {height}.\nyou earn Rs.{salary}.\nyour student status is :{student_status} "
print(sentence)

Enter the name: Manbika
Enter your age :19
Enter the height: 5.3
Enter the salary: 26372
Are you a student? yes
Hi, Manbika.
 you are 19 years old.
your height is 5.3.
you earn Rs.26372.0.
your student status is :yes

# Question 4

In [ ]:
# input
# radius in float
radius =float(input("enter the radious: "))

perimeter = 2 * 3.14 *radius
area = 3.14* radius * radius

print("perimeter of circle:{}.\nArea of a circle{}".format(perimeter,area))

enter the radious: 2
perimeter of circle:12.56.
Area of a circle12.56

Question:5

In [ ]:
# Input (For loop)

num = int(input("Enter the number : "))
mul = 1
# for i in range( num,0,  -1):
#  mul = mul * i
 # print(f"{i}, {mul}")

mul = 1
i = 1
while i <= num:
  mul = mul * i
  i += 1
print(mul)

Enter the number : 5
120

classwork question no 6

In [ ]:
 # Ask the user to enter a number
 # use a while loop to calculate the sum of digits

num = int(input("Enter a number: "))
sum = 0
while num > 0:
  rem = num %  10
  sum += rem
  num = num //10
  print(f"Rem: {rem}\tSum: {sum}\tNum: {num}")

print(sum)

Enter a number: 54
Rem: 4	Sum: 4	Num: 5
Rem: 5	Sum: 9	Num: 0
9

Question no 7

In [ ]:
my_list =[10, 6, 7, 19 ,18, 56, -100, -89, 198,342 ]

for num in my_list:
  sum = sum + num
  print(f"num: {num}\tsum: {sum}")

num: 10	sum: 19
num: 6	sum: 25
num: 7	sum: 32
num: 19	sum: 51
num: 18	sum: 69
num: 56	sum: 125
num: -100	sum: 25
num: -89	sum: -64
num: 198	sum: 134
num: 342	sum: 476

Question no 8

In [ ]:
product_num = 1
for i in range(1 ,6):
 num = int(input("Enter the number"))
 product_num *= num
print(product_num)

Enter the number5
Enter the number7
Enter the number8
Enter the number1
Enter the number2
560

Question 9

In [ ]:
sum = 0
for i in range(1,6):
  num = int(input("enter a num: "))
  if num % 2 == 0:
    sum += num
    print(sum)

  elif num % 2 == 1:
   sum -= num
   print(sum)

enter a num: 1
-1
enter a num: 3
-4
enter a num: 4
0
enter a num: 54
54
enter a num: 67
-13

Question 10

In [ ]:
positive_count = 0
Negative_count = 0

for i in range (1,7):
  num = int(input("Enter the number"))
  if num > 0:
   count += 1
  else:
    Negative_count += 1

print( positive_count , Negative_count)

Enter the number1
Enter the number-2
Enter the number-45
Enter the number344
Enter the number0
Enter the number23
3 3

# Hailstone series

In [ ]:
num = int(input("Enter a number: "))

while num > 1:
    print(num, end=", ")

    if num % 2 == 0:
        num = num // 2   # use integer division
    else:
        num = 3 * num + 1

print(num)  # finally print 1

Enter a number: 0402
402, 201, 604, 302, 151, 454, 227, 682, 341, 1024, 512, 256, 128, 64, 32, 16, 8, 4, 2, 1

Chapter=3
          Data structure

Lists

Creation

In [ ]:
l1 = []
l2 = [10, 4, 5, 18, 79, "apple", "mango",  "grapes"]

l3 = (list)
l4 = list([2, 4, 9])
l5 = list("This is an apple tree")
l4

[2, 4, 9]

In [ ]:
fruits = ["Apple", "Mango", "Watermelon", "grape", "pineapple", "cherry", "guava", "dragon friut", "banana"]

fruits[6]
fruits[-3]
fruits[7]
fruits[3]


# fruits[-4] into xyz the print will be xyz not cherry

'grape'

In [ ]:
line = "This is a fruit tree"
line[8]

line = "This is our python programming class"
line[11]

' '

Slicing

In [ ]:
nums = [10, 20, 30, 40, 50, 60, 70]
nums[5] = 86
nums[2] = 105
nums[3] = 2
nums[4] = 5
nums

[10, 20, 105, 2, 5, 86, 70]

In [ ]:
nums = [10, 20, 30, 40, 50, 60, 70]
nums[3:7]
nums[3:7:3]
nums[1:6:4]
nums[1:-3]
nums[-3:]
nums[4:4]
nums[4:-4:-2]
nums[::-1]

[70, 60, 50, 40, 30, 20, 10]

In [ ]:
mystr = "apple is red"
mystr[3:8:2]
mystr[::-1]

'der si elppa'

In [ ]:
word = "apple"
if word == word[::-1]:
  print("palindrome")
else:
  print("not palindrome")

not palindrome

List methods

In [ ]:
fruits = ["pineapple", "jackfruit", "orange", "mango", "banana"]
# fruits.append("apple")
 # fruits.append(["grape", "guava"])
 # fruits

 # val = fruits.pop(0)
 # val
 # print(val)

# fruits.extend(["apple","cherry"])

# fruits.reverse()

# fruits.sort(reverse=True)

fruits

['pineapple', 'jackfruit', 'orange', 'mango', 'banana', 'apple']

Question 11

In [ ]:
num = []
for i in range(20):
  num.append(i)
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
nums = [11, 15, 20, 27, 30]
for i in range (len(nums)):
  nums[i] += 5
nums

[16, 20, 25, 32, 35]

In [ ]:
nums = [i for i in range(1,21) if i % 2 ==0 ]
nums

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
fruits = ["mango", "apple", "banana", "grape", "ginger", "tree"]

[fruit for fruit  in fruits if 'e' in fruit]

['apple', 'grape', 'ginger', 'tree']

Tuples

In [ ]:
t1 = ()
t2 = ('1', 1.02, 4.55, 6.77, None, 15>30, True, (1, 2, 3))

t3 = tuple()
t4 = tuple([1, 4, "apple"])
t5 = tuple("this is a tree")
t5

('t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'r', 'e', 'e')

In [ ]:
t2 = ["mango", "apple", "banana", "grape", "ginger", "tree"]
t2.count('banana')

1

Tuple unpackimg

In [ ]:
colours = tuple(["red", "green", "blue"])
a, b, c = colours
a

'red'

In [ ]:
x = 43
y =23

t= x, y
t

(43, 23)

In [ ]:
x = 34
y = 24
temp = x
x = y
y = temp
print(x,y)

24 34

In [ ]:
x = 23
y = 42
x , y = y , x
print(x,y)

42 23

Looping through tupels

In [ ]:
colors = tuple({"red", "green", "blue", "yellow", "cyan", "white", "black"})
for color in colours :
  if color[-1] == 'e':

   print(color)

blue

Sets

In [ ]:
s1 = set()
s2 = {1, 2, 3, 4 ,'a', 1, 2, 3, 4, }
my_list = [10, 20 ,3 , 20, 40, 50, 30, 40,]
s3 = set(my_list)
s3

{3, 10, 20, 30, 40, 50}

In [ ]:
myset = (["red", "green", "blue", "purple"])
len(myset)

4

In [ ]:
for colour in myset:
  print(colour)

red
green
blue
purple

Set methods

In [ ]:
nums = {10, 20, 30, 34, 40, 34}

# nums.add(100)
# nums.add((80, 90, 300))
# nums.add("apple")

# nums.remove(10)
# nums.remove(30)

# nums.pop()
# nums.pop()

#nums.discard(40)

nums.update({1, 2, 34,56,56})
nums

{1, 2, 10, 20, 30, 34, 40, 56}

In [ ]:
nums = {10, 30,44, 49, 32, 34, 32}
nums.issubset(nums)

True

In [ ]:
s1 = {1, 2, 3,4}
s2 = {1, 6, 7, 3,}
# s1.union(s2)
#s1|s2

#s1.intersection(s2)
#s1 & s2

#s1.difference(s2)
#s1 - s2

#s1.symmetric_difference(s2)
#s1^s2

{2, 4, 6, 7}

Frozenset

In [ ]:
fsl = frozenset({1, 3,  5, 7, 8, 9, 9})
fs2 = frozenset({10, 20, 30, 40, 50, 60, 70})
fs3 = frozenset()
fs2

frozenset({10, 20, 30, 40, 50, 60, 70})

In [ ]:
fsl = frozenset({1, 3,  5, 7, 8, 9, 9})
fs2 = frozenset({10, 20, 30, 40, 50, 60, 70})

# fsl.union(fs2)

# fsl.difference(fs2)

# fsl.intersection(fs2)

fsl.symmetric_difference(fs2)

frozenset({1, 3, 5, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70})

Dictionaries

In [ ]:
d1 ={}
d2 = dict()

grocery = {
    "biscuits": 20,
    "soap": 10,
    "rice": " 10 kg",
    "daal": "5 kg",
    "toothpaste": 5,
    "chicken": 1.6,
    "shampoo": {
        "sunsilk":10,
        "dove":{
            "conditionar": 3,
            "facewash": 4,
        }
    }


}
# grocery["toothpaste"] = 500
# grocery[" daal"] = "15 kg"

# grocery["noodles"] = {
#     "current": 5,
#     "wai wai": 20,
#}
# del grocery["soap"]
grocery

{'biscuits': 20,
 'rice': ' 10 kg',
 'daal': '5 kg',
 'toothpaste': 500,
 'chicken': 1.6,
 'shampoo': {'sunsilk': 10, 'dove': {'conditionar': 3, 'facewash': 4}},
 ' daal': '15 kg',
 'noodles': {'current': 5, 'wai wai': 20}}

In [ ]:
from typing import FrozenSet
d4 = {
    "apple":20,
    20:40,
    3.15: "mango",
    None: 1.243,
    True: "that",
    False: 5.55,
    (1, 4, 7): "tuple",
    frozenset({1, 'a', 'p'}):["a", "b", "c"]

}
d4

{'apple': 20,
 20: 40,
 3.15: 'mango',
 None: 1.243,
 True: 'that',
 False: 5.55,
 (1, 4, 7): 'tuple',
 frozenset({1, 'a', 'p'}): ['a', 'b', 'c']}

In [ ]:
d1 ={}
d2 = dict()

grocery = {
    "biscuits": 20,
    "soap": 10,
    "rice": " 10 kg",
    "daal": "5 kg",
    "toothpaste": 5,
    "chicken": 1.6,
    "shampoo": {
        "sunsilk":10,
        "dove":{
            "conditionar": 3,
            "facewash": 4,
        }
    }


}
# grocery.get("daal")
# print(grocery.get("noodles"))

# val = grocery.pop("rice")
# print(val)

# grocery.update({"chicken": '3kg', "daal": '4', "soap": 10})
for var in grocery.keys():
  print(var)

grocery

biscuits
soap
rice
daal
toothpaste
chicken
shampoo

{'biscuits': 20,
 'soap': 10,
 'rice': ' 10 kg',
 'daal': '5 kg',
 'toothpaste': 5,
 'chicken': 1.6,
 'shampoo': {'sunsilk': 10, 'dove': {'conditionar': 3, 'facewash': 4}}}

In [ ]:

# given a list of integers
#list1 [1, 8, 6, 17, 25, 10, 30, 18, 77, 31, 88, 99, 105, 202, 72

# create a new list that contains all the numbers in list whiich are divisible by 3 using list comprenhensive
# sort the new list in assending Ordered
# print the new list]

list = [1, 8, 6, 17, 25, 10, 30, 18, 77, 31, 88, 99, 105, 202, 72 ]
#for list divisible by 3
divisible_by_3 = [num for num in list if num % 3 == 0]


# Sort the new list in ascending order
divisible_by_3.sort()

# Print the new list
print(divisible_by_3)

[6, 18, 30, 72, 99, 105]

Dictionary comprehensive

In [ ]:
 #list = [1, 8, 6, 17, 25, 10, 30, 18, 77, 31, 88, 99, 105, 202, 72 ]
# {num: num** 2 for num in list1 if num %3 == 0}

list1 = [1, 8, 6, 17, 25, 10, 30, 18, 77, 31, 88, 99, 105, 202, 72 ]
list2 = {}
for i in list1:
   if i % 3 == 0:
    list2[i] = i ** 2
list2

{6: 36, 30: 900, 18: 324, 99: 9801, 105: 11025, 72: 5184}

In [ ]:
# there is a dictionary containing employee salaries
employees = {
    "sujan": 1000,
    "aryan": 1200,
    "pujan": 700,
    "pranisha":400,
    "keshav" : 500,
    "Manbika" : 450,
    "sunandha" : 600,
}
# create a new dictionary containing those employees who earn > 550 using dictionary comprenhension
# print the dictionary

high_earner = {name: salary for name, salary in employees.items() if salary > 550}

print(high_earner)

{'sujan': 1000, 'aryan': 1200, 'pujan': 700, 'sunandha': 600}

In [ ]:
employees = {
    "sujan": 1000,
    "aryan": 1200,
    "pujan": 700,
    "pranisha": 400,
    "keshav": 500,
    "Manbika": 450,
    "sunandha": 600,
}

high_earners = {}

for name, salary in employees.items():
  if salary > 550:

   high_earners[name] = salary
print(high_earner)

{'sujan': 1000, 'aryan': 1200, 'pujan': 700, 'sunandha': 600}

Chapter = 4

In [ ]:
def greeting(name):
  print(f"good morning, {name}")

  #greeting("user")

In [ ]:
greeting()

good morning, user

In [ ]:
def calculator (a , b):
  if b == 0:
    return 0 , 0
  return a * b, a // b , a + b

In [ ]:
product, quotient  = calculator (400 , 67 )
print(product)
print(quotient)

26800
5

Default argument

In [ ]:
def greet(name, message, emoji):
  print( f"{message}, {name}, {emoji}")

In [ ]:
greet("tiger", "Hi", "😊")

Hi, tiger, 😊

In [ ]:
def greet(name = "Manbika", message = "Good morning", emoji= "😊"):
  print( f"{message}, {name}, {emoji}")

In [ ]:
greet()

Good morning, Manbika, 😊

Keyword argument

In [ ]:
# Write a function to convert temperature from celsius to fahrenheit . It takes a single argument(temp), and return the converted value.
# use this function to generate a celcius to farhenheit table for the following temperature in celsius :
#[19, 29, 88, -77, 67, 108, 24]
#F =1.8* C + 32

def  celsius_to_fahrenheit(c):
 fahrenheit = c * 1.8 + 32
 return fahrenheit

temps = [19, 29, 88, -77, 67, 108,  24]
for temp in temps:
  f = celsius_to_fahrenheit(temp)
  print("celsius =", temp ,"fahrenheit=", f)

celsius = 19 fahrenheit= 66.2
celsius = 29 fahrenheit= 84.2
celsius = 88 fahrenheit= 190.4
celsius = -77 fahrenheit= -106.6
celsius = 67 fahrenheit= 152.60000000000002
celsius = 108 fahrenheit= 226.4
celsius = 24 fahrenheit= 75.2

In [ ]:
def calculate_area (l , b):
 return l* b

calculate_area (4,7)
calculate_area (5,6)

30

In [ ]:
def triangle_sides( s1, s2,s3):
  if s1 < s2 +s3 and s1 < s1 +s3 and s3 < s1 + s2:
     return True
  return False
triangle_sides (5 , 7, 8)

True

Anonymous Function (lambda)

In [ ]:
 # lambda arguments : expression

In [ ]:
mul = lambda a , b : a * b
mul(15, 6)
mul(20,8)

160

In [ ]:

check_even_odd = lambda x: "Even" if x % 2 == 0 else "Odd"
check_even_odd( 56)

'Even'

In [ ]:
even_cube = lambda  x:x ** 3 if x % 2 == 0 else X
even_cube(8)
even_cube(16)

4096

Sorting list using lambda

In [ ]:
fruits = [(1, 'apple',), (10, ' mango'),(4, 'litchi'),(12, 'jackfruit')]
fruits.sort(key = lambda x : x[1])
fruits

[(10, ' mango'), (1, 'apple'), (12, 'jackfruit'), (4, 'litchi')]

Function scope

In [ ]:
def myfunc():
  nums = [1, 2, 3, 4, 5]
  print(nums)
myfunc()
print(nums)

[1, 2, 3, 4, 5]
20

In [ ]:
nums = 20
def myfunc():
  nums = [1, 2, 3, 4, 5]
  print(nums)

myfunc()
print(nums)

[1, 2, 3, 4, 5]
20

In [ ]:
nums = 30
def myfunc():
  nums = 40
  print(nums)
myfunc()
print(nums)

40
30

In [ ]:
nums = 30
def myfunc():
  global nums
  nums += 1
  print(nums)
myfunc()
print(nums)

31
31

In [ ]:
def test_function(x):
  x = x + 20

num = 40
test_function(num)
num

40

In [ ]:
def new_function(l1)

Nested Functions

In [ ]:
def greet(name):
  def message():
    print("Hi,", name)

    def function3():
      print("Hello,Mango")

    def function4():
      print("Hello,Orange")

      def function5():
        print("Hello, Tomato")

      function5()
      function5()
    function4()
    function3()

  message()

greet("Tiger")

Hi, Tiger
Hello,Orange
Hello, Tomato
Hello, Tomato
Hello,Mango

Nested Function and closures

In [ ]:
def outer_function():
  x = 20
  def inner_function():
    return x + 20

  return inner_function

fn = outer_function()
print(fn())

40

In [ ]:
def power(n):
  def inner(x):
    return x ** n
  return inner
square = power(2)
cube = power(3)
tenpow= power(10)

square(7)
cube(7)
tenpow(2)

1024

Recursion

In [ ]:
def factorial(n):
  if n == 0 or n == 1:
    return 1
  else:
      return n * factorial(n - 1)

In [ ]:
print(factorial(5))

120

In [ ]:
# 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...
#  Write a recursive function to get the nth fibonacci number
#  def fib(n)
# pass
# fib(6) = 8

# Base case:
# fib(1) = 1
# fib(2) = 1

# #Recursive case
# fib(3) = 1 + 1 =fib(2) + fib(1)
# fib(4) = 2 + 1 = fib(3) + fib(2)
# fib(5) = fib(4) + fib(3)
# fib(6) = fib(5) + fib(4)

#  fib(n) = fib(n - 1) + fib(n - 2)

In [ ]:
def fib(n):
  if n == 1 or n == 2:
    return 1
  else:
      return fib(n - 1) + fib(n - 2)

In [ ]:
fib(5)

5

In [ ]:
from string import digits
# Write a recursive python function sum_digits(n) that returns the sun of digits of positive integer n .
# input : 1234
# output:10
# Here, the digitsof input are summened: 1+2+3+4 =10

def sum_digits(n):
    if n < 10:
        return n
    else:
        return n % 10 + sum_digits(n // 10)

Object oriented programming

In [ ]:
class person:
  pass

Manbika = person()
type(Manbika)

__main__.person

In [ ]:
class person:
  species ="Homo sapiens"

Manbika = person()
print(Manbika. species)

Homo sapiens

In [ ]:
class Person:
  species ="Homo sapiens"

  def __init__(self,name, height, weight, gender):
    self.height = height
    self.name = name
    self.weight = weight
    self.gender = gender
    self.nationality = "Nepali"

  def info(self):
    print(f"Hi {self.name}, your height is {self.height}, your weight is {self.weight}, your gender is {self.gender}.")

  def eat(self, dish):
    print(f"{self.name}, is eating {dish}")

  def dining(self, location,dish):
    print(f"{self.name} is eating at{location}")
    self.eat (dish)

Manbika = Person(name = "Manbika" ,height=5.2, weight=45, gender="F")
Manbika.info()
Manbika.dining("cafe deja vu","keema noodle")

Hi Manbika, your height is 5.2, your weight is 45, your gender is F.
Manbika is eating atcafe deja vu
Manbika, is eating keema noodle

Inheritance

In [ ]:
class Vehicle:
  def move(self):
    print("Vehicle is moving...")
class Officechair:
  def suspension_up(self):
    print("Increasing height...")

  def height_down(self):
    print("Decreasing height...")

In [ ]:
ocl = Officechair()
ocl.height_down()
ocl.suspension_up()

Decreasing heigh...
Increasing heigh...

Multiple inheritance

In [ ]:
my_function( )# snake case

In [ ]:
class phone:
  def call(self):
    print("Making a call...")

class camera:
  def take_picture(self):
    print("Taking a picture...")

class smartphone(phone,camera):




  sp1 = smartphone()
  spl.call()
  spl.take_picture()
  spl.connect_to_wifi()

Multi-level inheritance

In [ ]:
class Vehicle:
  def __init__(self, brand, wheels):
    self.brand = brand
    self.wheels = wheels

  def move(self):
    print(f"This {self.brand} vehicle is moving")


class Car(Vehicle):
  def __init__(self, brand, doors):
    super().__init__(brand=brand, wheels=4)
    self.doors = doors
    self.ignition = False

  def start_engine(self):
    self.ignition = True
    print("Engine started...")

  def turn_off_engine(self):
    self.ignition = False
    print("Engine turned off...")


class SuperCar(Car):
  def __init__(self, brand, top_speed):
    super().__init__(brand=brand, doors=2)
    self.top_speed = top_speed
    self.nitro = False

  def nitro_on(self):
    self.nitro = True
    print("Nitro on...")

  def nitro_off(self):
    self.nitro = False
    print("Nitro off...")

In [ ]:
ferrari = SuperCar(
    brand= "Ferrari",
    top_speed=300
)
ferrari.move()
ferrari.start_engine()
ferrari.nitro_on()
#ferrari.nitro_off()
ferrari.nitro_off()
ferrari.turn_off_engine()

This Ferrari vehicle is moving
Engine started...
Nitro on...
Nitro off...
Engine turned off...

Polymorphism

In [ ]:
import math
math.pi

3.141592653589793

In [ ]:
class shape:
  def __init__(self,name):
    self.name = name

#class Rectangle(shape):
  #pass


#class circle(shape):
  #pass

In [ ]:
from math import pi

class Shape:
    def __init__(self, name):
        self.name = name

class Rectangle(Shape):
    def __init__(self, name, length, breadth):
        super().__init__(name)
        self.length = length
        self.breadth = breadth

    def area(self):
        return self.length * self.breadth

    def describe(self):
        return f"{self.name} is a rectangle: {self.length} × {self.breadth}"

class Circle(Shape):
    def __init__(self, name, radius):
        super().__init__(name)
        self.radius = radius

    def area(self):
        return pi * self.radius ** 2

    def describe(self):
        return f"{self.name} is a circle with radius {self.radius}"


#  Create objects
rect = Rectangle("MyRect", 10, 5)
circle = Circle("MyCircle", 7)

#  Call methods on objects
print(rect.describe())
print("Area:", rect.area())

print(circle.describe())
print("Area:", circle.area())

MyRect is a rectangle: 10 × 5
Area: 50
MyCircle is a circle with radius 7
Area: 153.93804002589985

Operative Overloading

In [ ]:
class Glass:
  capacity = 100

  def __init__(self,quantity):
    if quantity > self.capacity:
      self.quantity = self.capacity
    else:
      self.quantity = quantity

  def __add__(self,another_glass):
    new_quantity = self.quantity + another_glass.quantity
    if new_quantity > self.capacity:
      self.quantity = self.capacity
    else:
      self.quantity = new_quantity

  def __repr__(self):
    return f"This glass has{self.quantity} ml of water with total capacity of{self.capacity}ml."



g1 = Glass(40)
g2 = Glass(50)

print(g1)
print(g2)
#gl.quantity

This glass has40 ml of water with total capacity of100ml.
This glass has50 ml of water with total capacity of100ml.

##Function Overriding

In [ ]:
class Animal:
  def speak(self):
    print("Animal is speaking")

class Mammal(Animal):
  def speak(self):
    print("Mammal is speaking")

class Cat(Mammal):
  def speak(self):
    print("meow! meow!")

class Dog(Mammal):
  def speak(self):
    print("woof!, woof!")

class Bulldog(Dog):
  def speak(self):
    print ("Buldog woof!, woof!")

class Doberman(Dog):
  def speak(self):
    print("Doberman woof!,Woof!")

class HybridDog(Bulldog,Doberman):
   pass

dog1 = HybridDog()
dog1.speak()

Buldog woof!, woof!

Encapsulation

In [ ]:
class Person:
    def __init__(self, name, gender):
        self.__name = name   # private attribute
        self._gender = gender  # protected attribute

    def get_name(self):
        return self.__name

    def change_name(self, name):
        self.__name = name


p1 = Person("Manbika", "F")

# Call the method properly
print(p1.get_name())   # Output: Manbika

p1.change_name("Bikuu")
print(p1.get_name())   # Output: Bikuu

Manbika
Bikuu

In [ ]:
class Person:
    def __init__(self, name, gender):
        self.__name = name      # private attribute (with double underscore)
        self._gender = gender   # protected attribute (by convention)

    def get_name(self):
        return self.__name

    def change_name(self, name):
        self.__name = name


# Creating an object of Person
p1 = Person("Pranisha", "F")

# Call the method with parentheses
print(p1.get_name())  # Output: Manbika

# Change name
p1.change_name("Manbika")
print(p1.get_name())  # Output: Ankita

Pranisha
Manbika

##Chapter -8

In [ ]:
try:
  age = int(input("Enter your age: "))
  print(f"your age is: {age}")

except:
  print("Invalid age")

Enter your age: manbika
Invalid age

Try except block

In [ ]:
try:
    age = int(input("Enter your age: "))
    div = 10 / age
    d1 = {
        "a": 20,
        "b": 30
    }
    print(d1["c"])   # This will raise a KeyError
except ValueError:
    print("Value error occurred")
except KeyError:
    print("Key error occurred")
except ZeroDivisionError:
    print("Division by zero not possible")

Enter your age: 10
Key error occurred

In [ ]:
try:
  with open("/content/sample_data/README","r")as f:
    content = f.read()
except FileNotFoundError as err:
  print("Could not find file:", err.filename)
else:
  print("Sucessfully read content: ")
  print(content)

Could not find file: /content/sample_data/README

In [ ]:
try:
  f =  open("/content/sample_data/anscombe.json", "r")
  content = f.read()
except FileNotFoundError as err:
  print("Could not find file:", err.filename)
else:
  print("Sucessfully read content: ")
  print(content)
finally:
  print("Closing file")
  f.close()

Sucessfully read content:
[
  {"Series":"I", "X":10.0, "Y":8.04},
  {"Series":"I", "X":8.0, "Y":6.95},
  {"Series":"I", "X":13.0, "Y":7.58},
  {"Series":"I", "X":9.0, "Y":8.81},
  {"Series":"I", "X":11.0, "Y":8.33},
  {"Series":"I", "X":14.0, "Y":9.96},
  {"Series":"I", "X":6.0, "Y":7.24},
  {"Series":"I", "X":4.0, "Y":4.26},
  {"Series":"I", "X":12.0, "Y":10.84},
  {"Series":"I", "X":7.0, "Y":4.81},
  {"Series":"I", "X":5.0, "Y":5.68},

  {"Series":"II", "X":10.0, "Y":9.14},
  {"Series":"II", "X":8.0, "Y":8.14},
  {"Series":"II", "X":13.0, "Y":8.74},
  {"Series":"II", "X":9.0, "Y":8.77},
  {"Series":"II", "X":11.0, "Y":9.26},
  {"Series":"II", "X":14.0, "Y":8.10},
  {"Series":"II", "X":6.0, "Y":6.13},
  {"Series":"II", "X":4.0, "Y":3.10},
  {"Series":"II", "X":12.0, "Y":9.13},
  {"Series":"II", "X":7.0, "Y":7.26},
  {"Series":"II", "X":5.0, "Y":4.74},

  {"Series":"III", "X":10.0, "Y":7.46},
  {"Series":"III", "X":8.0, "Y":6.77},
  {"Series":"III", "X":13.0, "Y":12.74},
  {"Series":"III", "X":9.0, "Y":7.11},
  {"Series":"III", "X":11.0, "Y":7.81},
  {"Series":"III", "X":14.0, "Y":8.84},
  {"Series":"III", "X":6.0, "Y":6.08},
  {"Series":"III", "X":4.0, "Y":5.39},
  {"Series":"III", "X":12.0, "Y":8.15},
  {"Series":"III", "X":7.0, "Y":6.42},
  {"Series":"III", "X":5.0, "Y":5.73},

  {"Series":"IV", "X":8.0, "Y":6.58},
  {"Series":"IV", "X":8.0, "Y":5.76},
  {"Series":"IV", "X":8.0, "Y":7.71},
  {"Series":"IV", "X":8.0, "Y":8.84},
  {"Series":"IV", "X":8.0, "Y":8.47},
  {"Series":"IV", "X":8.0, "Y":7.04},
  {"Series":"IV", "X":8.0, "Y":5.25},
  {"Series":"IV", "X":19.0, "Y":12.50},
  {"Series":"IV", "X":8.0, "Y":5.56},
  {"Series":"IV", "X":8.0, "Y":7.91},
  {"Series":"IV", "X":8.0, "Y":6.89}
]

Closing file

Creating Custom Exception

In [ ]:
class DateOfBirthError(Exception):
  pass
try:
  raise DateOfBirthError()
except DateOfBirthError as err:
  print("error occured", err)

error occured

In [ ]:
# 1980-12-31
"apple-b-c".split("-")

['apple', 'b', 'c']

In [ ]:
def check_dob(date_str):
  date_list = date_str.split("-")
  year = int(date_list[0])
  if year < 1900:
    raise DateOfBirthError("Birth year cannot be before 1900")
  else:
    print("Valid date of birth")

In [ ]:
try:
  check_dob("1890-12-31")
except DateOfBirthError as err:
    print("Invalid dob:", err)

Invalid dob: Birth year cannot be before 1900

In [ ]:
mylist = "apple-23-xyz".split("-")
mylist

['apple', '23', 'xyz']

In [ ]:
"_".join(mylist)

'apple_23_xyz'

In-depth Topics

Lambda functions

Maps

In [ ]:
mylambda= lambda x :x ** 2 if x % 2 == 0 else x
#mylambda(7)
t1 = (1, 6, 8, 9, 14)
obj = map(mylambda, t1)
tuple(obj)

(1, 36, 64, 9, 196)

In [ ]:
t1 = (1, 6, 8, 9, 14)
obj = map(lambda x :x ** 2 if x % 2 == 0 else x, t1) #can use code directly
tuple(obj)

(1, 36, 64, 9, 196)

filter

In [ ]:
t1 = (1, 6, 8, 9, 14)
obj = filter(lambda x : x % 2 == 0 , t1)
tuple(obj)

(6, 8, 14)

Sorted

In [ ]:
mytuple = ((1, 'apple'), (5, 'mango'),(3, 'orange'),(8, 'litchi'))
sorted(mytuple, key=lambda x:x[1]) # sort by first character of name

[(1, 'apple'), (8, 'litchi'), (5, 'mango'), (3, 'orange')]

In [ ]:
mytuple = ((1, 'apple'), (5, 'mango'),(3, 'orange'),(8, 'litchi'))
sorted(mytuple, key=lambda x:x[1][-1]) # sort by  last character of name

[(1, 'apple'), (3, 'orange'), (8, 'litchi'), (5, 'mango')]

In [ ]:
mytuple = ((1, 'apple'), (5, 'pineapple'),(3, 'orange'),(8, 'litchi'))
sorted(mytuple, key=lambda item: len(item[1] [-1]) , reverse = True) # sort by length of name

[(1, 'apple'), (5, 'pineapple'), (3, 'orange'), (8, 'litchi')]

Generators

In [ ]:
def count_up_to(n):
  count = 1
  print("Loop start")
  while count <= n:
    yield count
    print("count:", count)
    count += 1


mygen = count_up_to(25)

In [ ]:
next(mygen)

Loop start

1

In [ ]:
def count_up_to(n):
  count = 1
  while count <= n:
    yield count
    count += 1


mygen = count_up_to(6)

In [ ]:
for i in mygen:
  print(i)

1
2
3
4
5
6

Creating generators

In [ ]:
cubes = (i ** 3 for i in range(10))
cubes

In [ ]:
for i in cubes:
  print(i)

0
1
8
27
64
125
216
343
512
729

In [ ]:
import sys

mylist = [i for i in range(10000)]
sys.getsizeof(mylist)

85176

##Iterators

In [ ]:
fruits = ["apple", "banana", "pineapple", "mango", "litchi"]
it = iter(fruits)

In [ ]:
next(it)

'pineapple'

Create custom iterators

In [ ]:
for i in range (10, 15):
  print(i)

10
11
12
13
14

In [ ]:
class MyRange:
  def __init__(self, start, end, step = 1):
    self.start = start
    self.end = end
    self.step = step
    self.current = start   # keeps track of current value while iterating

  def __iter__(self):
    return self            # an iterator must return itself

  def __next__(self):
    # checks if current value is still within bounds
    if self.current >= self.start and self.current < self.end:
      num = self.current
      self.current += self.step   # increment by step
      return num
    else:
      raise StopIteration  # stops iteration when limit is reached

In [ ]:
for i in MyRange(2, 10, 2):
    print(i)

2
4
6
8

In [ ]:
def print_info(kwargs):
  for k, v in kwargs.items():
    print(f"{k}: {v}")

d1 = {"class": "python", "time": 8}
print(d1)

{'class': 'python', 'time': 8}

#Functools

Function.reduce()

In [ ]:
import functools

nums = [10, 40, 50, 12, 18, 11]
maxnum = functools. reduce(lambda a, b: a if a > b else b, nums)
maxnum

50

Find the largest even number using reduce()

In [ ]:
nums = [3, 32, 7, 8,  15, 2, 19]

evens = filter(lambda x: x % 2 == 0, nums)

max_even = functools.reduce(lambda a, b: a if a > b else b, evens)

print("Maximum even number:", max_even)

Maximum even number: 32

In [ ]:
def maxeven(a,b):
  if a % 2 == 0 and b % 2 == 0:
    return a if a > b else b
  elif a % 2 == 0:
    return a
  elif b % 2 == 0:
    return b
  else:
    return

Functions. partial()

In [ ]:
def greet(name, message):
  print(f"{message}, {name}")
namaste = functools.partial(greet, message="Namaste")
good_morning = functools.partial(greet, message="Good morning")

namaste("sujan")
namaste("Aryan")

good_morning("Pranisha")
good_morning("Manbika")

Namaste, sujan
Namaste, Aryan
Good morning, Pranisha
Good morning, Manbika

###Function.lru_cache()

In [ ]:
import functools
import time
def fibonacci(n):
  if n == 1 or n == 2:
    return 1
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)

In [ ]:
start_time = time.time()
print(fibonacci(35))
end_time = time.time()
print("Execution time:", end_time - start_time)

9227465
Execution time: 2.2644736766815186

##Decorators

In [ ]:
import time
def execution_time(func):
  def wrapper(*args ,**kwargs):
    print("Starting execution")
    start_time = time.time()
    val = func(*args, **kwargs)
    print("Execution ended")
    end_time = time.time()

    print("Execution time:", end_time - start_time)
    return val

  return wrapper

In [ ]:
@execution_time
def add(a, b):
  return a + b

add(10, 20)

Starting execution
Execution ended
Execution time: 7.867813110351562e-06

30

In [ ]:
@execution_time
def greet(name, message):
  print(f"{message}, {name}")

greet("Hi", "Manbika")

Starting execution
Manbika, Hi
Execution ended
Execution time: 1.6927719116210938e-05